<mat-toolbar class="container botones-pie">
    <!-- ELIMINAR -->
    <button mat-raised-button color="warn" 
        matTooltip="Eliminar artículo seleccionado"
        [disabled]="!articuloSeleccionadoB"
        (click)="this.eliminarArticuloDialog.emit()"
        >Eliminar</button>

    <span class="espaciador"></span>

    <!-- ETIQUETA CODIGO DATA MATRIX -->
    <button mat-raised-button color="primary"
        [disabled]="!articuloSeleccionadoB"
        >Etiqueta Data Matrix</button>

    <!-- VER ARTÍCULO -->
    <button mat-raised-button 
        matTooltip="Ver el artículo seleccionado"
        color="primary"
        *ngIf="!visualizandoArticulo"
        [disabled]="!articuloSeleccionadoB"
        (click)="visualizandoArticuloEmitter.emit(true)"
        >{{ botonVerArticulo }}</button>

    <button mat-raised-button 
        matTooltip="Ver el artículo seleccionado"
        *ngIf="editando || visualizandoArticulo"
        [ngClass]="{'cancelar-edicion' : editando, 'editar': !editando}"
        (click)="editandoEmitter.emit(true)"
        >{{ botonEditar }}</button>
</mat-toolbar>