<mat-toolbar class="container botones-pie">
    <!-- ELIMINAR -->
    <button mat-raised-button color="warn" 
        matTooltip="Eliminar artículo seleccionado"
        [disabled]="!articuloSeleccionado.id"
        (click)="this.eliminarArticuloDialog.emit()"
        >Eliminar</button>

    <span class="espaciador"></span>

    <!-- ETIQUETA CODIGO DATA MATRIX -->
    <button mat-raised-button color="primary"
        [disabled]="!articuloSeleccionado.id"
        >Etiqueta Data Matrix</button>

    <!-- NUEVO ARTICULO -->
    <button mat-raised-button 
        matTooltip="Registrar nuevo artículo"
        [ngClass]="{'nuevo' : !insertandoNuevo, 'cancelarNuevo': insertandoNuevo}"
        (click)="nuevoArticulo()"
        >{{ botonNuevo }}</button>
</mat-toolbar>