<mat-toolbar>
  <mat-toolbar-row>

    <!-- BURGER MENU -->
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    
    <!-- TITULO -->
    <span class="titulo">{{ titulo }}</span>

  </mat-toolbar-row>
  
  <mat-toolbar-row>

    <!-- SECCIÓN -->
    <span>{{ seccion }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>