<mat-toolbar>

  <!-- FILA UNO -->
  <mat-toolbar-row>

    <!-- BURGER MENU -->
    <button mat-icon-button (click)="toggleSideNav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <!-- TITULO -->
    <span class="titulo">{{ titulo }}</span>

  </mat-toolbar-row>
  
  <!-- FILA DOS -->
  <mat-toolbar-row>

    <!-- VOLVER -->
    <button 
      mat-icon-button 
      *ngIf="visualizandoArticulo"
      (click)="volver()"
      >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <!-- TÍTULO SECCIÓN -->
    <span class="seccion">{{ seccion }}</span>

    <span class="espaciador"></span>

    <!-- EDITAR Y AÑADIR -->
    <button 
      *ngIf="!visualizandoArticulo && articuloSeleccionadoB == true"
      mat-icon-button 
      (click)="vistaArticuloToggle.emit()"
      (click)="editando.emit(true)"
      ><mat-icon>edit</mat-icon></button>

    <button 
      *ngIf="!visualizandoArticulo"
      mat-icon-button 
      (click)="vistaArticuloToggle.emit()"
      ><mat-icon>add</mat-icon></button>

  </mat-toolbar-row>

</mat-toolbar>