<mat-toolbar>
  <mat-toolbar-row>

    <!-- BURGER MENU -->
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <!-- TITULO -->
    <span class="titulo">{{ titulo }}</span>

  </mat-toolbar-row>
  
  <!-- SECCIÓN -->
  <mat-toolbar-row>

    <!-- VOLVER -->
    <button 
      mat-icon-button 
      *ngIf="router.url !== '/registro-datamatrix'"
      (click)="volver()"
      >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <!-- TÍTULO SECCIÓN -->
    <span class="seccion">{{ seccion }}</span>

    <span class="espaciador"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>