<!-- TABLA -->
<mat-selection-list class="lista" #listaArticulos [multiple]="false">

    <!-- NOMBRE COLUMNAS -->
    <mat-list-option class="cabecera-lista">
        <div class="cabecera-lista" fxFlex="row">
            <div fxFlex="33%"> {{ "nombre"          | uppercase }} </div>
            <div fxFlex="33%"> {{ "modelo"          | uppercase }} </div>
            <div fxFlex="33%"> {{ "última revisión" | uppercase }} </div>
        </div>
    </mat-list-option>

    <!-- LISTA DE ARTCULOS -->
    <mat-list-option 
        class="elementos-lista"
        *ngFor="let articulo of this.articulos; let i = index"
        [value]="articulo"
        (click)="elementoSeleccionado(listaArticulos.selectedOptions.selected[0]?.value)"
        (dblclick)="vistaArticulo()"
        >
        <div class="elementos-lista" fxFlex="row">
            <div fxFlex="33%">{{ articulo.nombre      | titlecase    }}</div>
            <div fxFlex="33%">{{ articulo.modelo      | titlecase    }}</div>
            <div fxFlex="33%">{{ ultimasRevisiones[i] | revisionNula }}</div>
        </div>
    </mat-list-option>

    <!-- NUEVO ARTICULO -->
            <app-nuevo-articulo (listarArticulos)="listarArticulos()" class="nuevo-articulo" *ngIf="insertandoNuevo"></app-nuevo-articulo>

</mat-selection-list>
<!-- BOTONES-PIE -->
<mat-toolbar class="container botones-pie">
    <!-- ELIMINAR -->
    <button mat-raised-button color="warn" 
        [disabled]="!articuloSeleccionado.id"
        (click)="eliminarArticulo()"
        >Eliminar</button>

    <span class="espaciador"></span>

    <!-- ETIQUETA CODIGO DATA MATRIX -->
    <button mat-raised-button color="primary"
        [disabled]="!articuloSeleccionado.id"
        >Etiqueta Data Matrix</button>

    <!-- NUEVO ARTICULO -->
    <button mat-raised-button 
        [ngClass]="{'nuevo' : !insertandoNuevo, 'cancelarNuevo': insertandoNuevo}"
        (click)="nuevoArticulo()"
        >{{ botonNuevo }}</button>
</mat-toolbar>