<!------------------------------------------------ SIDENAV ------------------------------------------------>
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">

        <mat-nav-list>
            <button 
                mat-list-item 
                (click)="navegar('page-principal')"
                >
                <mat-icon>format_list_bulleted</mat-icon>Lista Articulos
            </button>
            <button 
                mat-list-item 
                (click)="navegar('scanner')"
                >
                <mat-icon>crop_free</mat-icon>Scanner DataMatrix
            </button>
        </mat-nav-list>

    </mat-drawer>

<!------------------------------------------------ PAGINA PRINCIPAL ------------------------------------------------>
<div class="container" fxLayout.gt-sm="column" fxLayout.lt-md="column">
    
    <!-- TOOLBAR -->
    <div fxFlex="130px" class="container toolbar">

        <app-toolbar
            (toggleSideNav)="toggleSideNav()"
            (vistaArticuloEmitter)="vistaArticulo($event)"
            [visualizandoArticulo]="visualizandoArticulo"
            [editando]="editando"
            [insertandoNuevo]="nuevo"
            [articuloSeleccionadoB]="articuloSeleccionadoB"
            ></app-toolbar>

    </div>

    <!-- CONTENEDOR MEDIO -->
    <div fxFlex="auto" class="container component">
        
        <!-- LISTA ARTÍCULOS -->
        <app-lista-articulos
            *ngIf="!visualizandoArticulo && !editando && !insertandoNuevo"
            [articulos]="articulos"
            [ultimasRevisiones]="ultimasRevisiones"
            (elementoSeleccionado)="elementoSeleccionado($event)"
            (resetLista)="resetLista()"
            (vistaArticuloEmitter)="vistaArticulo($event)"
            ></app-lista-articulos> <!-- TODO: El error que sale por la consola apareció cuando hice el método reset lista y le puse el emit aquí-->

            <!-- VISTA ARTÍCULO -->
            <app-vista-articulo
                *ngIf="visualizandoArticulo"
                [articulo]="articuloSeleccionado"
                [visualizandoArticulo]="visualizandoArticulo"
                [insertandoNuevo]="insertandoNuevo"
                [editando]="editando"

                [editar]="editar"
                [nuevo]="nuevo"
                [ver]="ver"

                (vistaArticuloEmitter)="vistaArticulo($event)"
                ></app-vista-articulo>

    </div>

    <!-- BOTTOM TOOLBAR -->
    <div fxFlex="65px" class="container footer">

        <app-bottom-toolbar 
            [insertandoNuevo]="insertandoNuevo" 
            [articuloSeleccionado]="articuloSeleccionado"
            [visualizandoArticulo]="visualizandoArticulo"
            [articuloSeleccionadoB]="articuloSeleccionadoB"
            [editando]="editando"
            (eliminarArticuloDialog)="eliminarArticuloDialog()"
            (vistaArticuloEmitter)="vistaArticulo($event)"
            (generarDataMatrixEmitter)="generarDataMatrix()"

            [editar]="editar"
            [nuevo]="nuevo"
            [ver]="ver"
            ></app-bottom-toolbar>

    </div>

</div>

</mat-drawer-container>
