<form (ngSubmit)="guardar()" [formGroup]="formulario">

        <div class="nuevo-articulo" fxFlex="row">

            <!-- NOMBRE -->
            <div fxFlex="33%" class="mat-form-field"> 
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" (keydown)="$event.stopPropagation()">
                </mat-form-field>
            </div>

            <!-- MODELO -->
            <div fxFlex="33%"> 
                <mat-form-field appearance="fill">
                    <mat-label>Modelo</mat-label>
                    <input matInput formControlName="modelo" (keydown)="$event.stopPropagation()">
                </mat-form-field>
            </div>

            <!-- FECHA -->
            <div fxFlex="33%"> 
                <mat-form-field appearance="fill">
                    <mat-label>Nueva revisión</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha" (keydown)="$event.stopPropagation()">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- GUARDAR -->
            <div> <!-- TODO: Baja prioridad: poner animaciones. -->
                <button 
                    class="guardar-check" 
                    type="submit"
                    mat-icon-button color="accent" 
                    [disabled]="formulario.invalid"
                    >
                    <mat-icon>check</mat-icon>
                </button>
            </div>

        </div>
</form>